@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');


.loader {
  width: 16px;
  height: 16px;
  position: relative;

  border-radius: 50%;
  color: #fff;
  background: currentColor;
  box-shadow: 32px 0 , -32px 0 ,  64px 0;
}

.loader::after {
  content: '';
  position: absolute;

  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #ffffff;
  animation: move_351 3s linear infinite alternate;
}

@keyframes move_351 {
  0% , 5% {
    left: -32px;
    width: 16px;
  }

  15% , 20% {
    left: -32px;
    width: 48px;
  }

  30% , 35% {
    left: 0px;
    width: 16px;
  }

  45% , 50% {
    left: 0px;
    width: 48px;
  }

  60% , 65% {
    left: 32px;
    width: 16px;
  }

  75% , 80% {
    left: 32px;
    width: 48px;
  }

  95%, 100% {
    left: 64px;
    width: 16px;
  }
}

:root {
  --background: #0a0a0a;
  --foreground: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  
}


.redGradient{
  background: #e4110a;
  background: linear-gradient(90deg, rgba(228, 17, 10, 1) 0%, rgba(105, 2, 2, 1) 100%);
}


.pinkGradient{
  background: #B24592;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F15F79, #B24592);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F15F79, #B24592); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.Gradient{
  background: linear-gradient(90deg, rgb(18, 32, 20) 0.000%, rgb(0, 0, 0) 50.000%, rgba(0, 39, 18, 1.000) 100.000%)
}


@keyframes floatAlien {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-10px) rotate(1deg);
  }
  100% {
    transform: translateY(0px) rotate(-1deg);
  }
}

.animate-alien {
  animation: floatAlien 4s ease-in-out infinite;
}




@keyframes blob {
  0%, 100% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
}



.animate-blob {
  animation: blob 20s ease-in-out infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}




.shiny-text {
  color: transparent;
  background: linear-gradient(
    120deg,
    rgb(134, 134, 134) 40%,
    rgb(255, 255, 255) 50%,
    rgb(134, 134, 134) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 1s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
  color: black;
  background: none;
  -webkit-background-clip: initial;
  background-clip: initial;
}







.carousel-container {
  position: relative;
  overflow: hidden;
  border: 1px solid #555;
  border-radius: 24px;
  padding: 16px;
  --outer-r: 24px;
  --p-distance: 12px;
}

.carousel-track {
  display: flex;
}

.carousel-item {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid #555;
  border-radius: calc(var(--outer-r) - var(--p-distance));
  background-color: transparent ;
  overflow: hidden;
  cursor: grab;
}

.carousel-item:active {
  cursor: grabbing;
}

.carousel-container.round {
  border: 1px solid #555;
}

.carousel-item.round {
  background-color: #0D0716;
  position: relative;
  bottom: .1em;
  border: 1px solid #555;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-item-header.round {
  padding: 0;
  margin: 0;
}

.carousel-indicators-container.round {
  position: absolute;
  z-index: 2;
  bottom: 3em;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-indicator.active {
  background-color: #333333;
}

.carousel-indicator.inactive {
  background-color: rgba(51, 51, 51, 0.4);
}

.carousel-item-header {
  margin-bottom: 16px;
  padding: 20px;
  padding-top: 20px;
}

.carousel-icon-container {
  display: flex;
  height: 28px;
  width: 28px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
}

.carousel-icon {
  height: 16px;
  width: 16px;
  color: #060010;
}

.carousel-item-content {
  padding: 20px;
  padding-bottom: 20px;
}

.carousel-item-title {
  margin-bottom: 4px;
  font-weight: 900;
  font-size: 18px;
  color: #fff;
}

.carousel-item-description {
  font-size: 14px;
  color: #fff;
}

.carousel-indicators-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.carousel-indicators {
  margin-top: 16px;
  display: flex;
  width: 150px;
  justify-content: space-between;
  padding: 0 32px;
}

.carousel-indicator {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 150ms;
}

.carousel-indicator.active {
  background-color: #fff;
}

.carousel-indicator.inactive {
  background-color: #555;
}






































.blob-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blob-main {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
  user-select: none;
  cursor: default;
}

.blob {
  position: absolute;
  will-change: transform;
  transform: translate(-50%, -50%);
}

.inner-dot {
  position: absolute;
}






























.star-border-container {
  display: inline-block;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.border-gradient-bottom {
  position: absolute;
  width: 300%;
  height: 50%;
  opacity: 0.7;
  bottom: -12px;
  right: -250%;
  border-radius: 50%;
  animation: star-movement-bottom linear infinite alternate;
  z-index: 0;
}

.border-gradient-top {
  position: absolute;
  opacity: 0.7;
  width: 300%;
  height: 50%;
  top: -12px;
  left: -250%;
  border-radius: 50%;
  animation: star-movement-top linear infinite alternate;
  z-index: 0;
}

.inner-content {
  position: relative;
  border: 1px solid #222;
  background: #000;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 16px 26px;
  border-radius: 20px;
  z-index: 1;
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}












.bold {
  font-family: "Rubik Dirt", system-ui;
  font-weight: 700;
  font-style: normal;
}







/* From Uiverse.io by Ashon-G */ 
.relative {
  position: relative;
}

.inline-block {
  display: inline-block;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

:backdrop {
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
}

.pointer-events-none {
  pointer-events: none;
}

.absolute {
  position: absolute;
}

.inset-0 {
  inset: 0;
}

button {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  width: 250px !important;
  border: none;
}

button {
  text-transform: none;
}

button {
  cursor: pointer;
}

.inline-flex {
  display: inline-flex;
}

.justify-center {
  justify-content: center;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(36 118 251 / var(--tw-bg-opacity));
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-medium {
  font-weight: 500;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

#style-AQliM.style-AQliM {
  top: 1%;
  left: 99%;
}
#style-WCb99.style-WCb99 {
  top: 7%;
  left: 1%;
}
#style-dBNZV.style-dBNZV {
  top: 93%;
  left: 23%;
}
#style-tiisO.style-tiisO {
  top: 43%;
  left: 15%;
}
#style-re9B7.style-re9B7 {
  top: 93%;
  left: 9%;
}
#style-BKG4G.style-BKG4G {
  top: 21%;
  left: 88%;
}
#style-NaoVe.style-NaoVe {
  top: 99%;
  left: 95%;
}
#style-pwIlv.style-pwIlv {
  top: 64%;
  left: 99%;
}
#style-QmcAd.style-QmcAd {
  top: 14%;
  left: 45%;
}
#style-VG2eL.style-VG2eL {
  top: 2%;
  left: 48%;
}

/* Keyframes for sparkle animation */
@keyframes sparkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Add animation to sparkle elements */
.animate-magic-sparkle {
  animation: sparkle 2s infinite;
}

.style-AQliM {
  animation-delay: 0.5s;
}
.style-WCb99 {
  animation-delay: 0.33s;
}
.style-dBNZV {
  animation-delay: 0.6s;
}
.style-tiisO {
  animation-delay: 0.9s;
}
.style-re9B7 {
  animation-delay: 1.2s;
}
.style-BKG4G {
  animation-delay: 1.5s;
}
.style-NaoVe {
  animation-delay: 1.8s;
}
.style-pwIlv {
  animation-delay: 1.9s;
}
.style-QmcAd {
  animation-delay: 1.4s;
}
.style-VG2eL {
  animation-delay: 1.7s;
}
